# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# Maven local repo (optional)
# =========================
.mvn/
!mvnw
!mvnw.cmd

# =========================
# VS Code
# =========================
.vscode/
.settings/
.classpath
.project

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary / Backup
# =========================
*.tmp
*.bak
*.swp
